* {
    margin: 0;
}
img {
    width: 25%;
}
body {
    background-color: pink;
    text-align: center;
}
header, footer {
    background-color: aqua;
    height: 10vh;
    line-height: 10vh;
    margin: 20px;
}
main {
    height: 70vh;
    margin: 0 20px;
    display: flex;
}
aside {
    background-color: aquamarine;
    flex: 1;
    margin-right: 20px;
}
article {
    background-color: rgb(255, 74, 74);
    flex: 3;
    text-align: center;
}
article .text {
    height: 37vh;
}
.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}