div {
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    height: 100px;
}
.satu {
    background-color: rgb(153, 255, 0);
    margin-bottom: 1%;
}
.dua {
    background-color: yellow;
    position: absolute;
    width: 20%;
    margin-bottom: 1%;
}
.tiga {
    background-color: coral;
    width: 75%;
    margin-left: auto;
    margin-bottom: 1%;
}
.empat {
    background-color: yellow;
    position: absolute;
    width: 20%;
}
.lima {
    background-color: aqua;
    width: 75%;
    margin-left: auto;
}